{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h2>Курсы</h2>
        <a href="/courses/add/">Добавить курс</a>
        <ul>
            {% for course in courses %}
                <li>
                    <h2>Название курса: {{ course.name }}</h2>
                    <p>Стоимость курса: {{ course.price }}</p>
                    <a href="/courses/{{ course.id }}/edit/">Редактировать</a>
                    <a href="/courses/{{ course.id }}/delete/">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
