body {
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 600px;
    margin: 40px;
    color: black;
}

h2 {
  margin-top: 30px;
  color: gray;
}

p {
  background: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border-left: solid blue;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}